In [1]:
import pandas as pd

In [46]:
data = pd.read_csv("./new 1.txt", sep="\t")

In [47]:
data

                       t      y1          y2
0    2018-09-21 15:00:00     803  -1390.0810
1    2018-09-21 16:00:00   40422  18643.7580
2    2018-09-21 17:00:00   60509  20703.4180
3    2018-09-21 18:00:00   88825  16628.6290
4    2018-09-21 19:00:00  131011  16794.7680
5    2018-09-21 20:00:00  139467  25122.7270
6    2018-09-21 21:00:00  179168  24820.2930
7    2018-09-21 22:00:00  163183  25383.5120
8    2018-09-21 23:00:00  123305  19550.9240
9    2018-09-22 00:00:00   87926  24573.9570
10   2018-09-22 01:00:00   45563  23891.4800
11   2018-09-22 02:00:00   29746  23016.9510
12   2018-09-22 03:00:00   22503  23583.5160
13   2018-09-22 04:00:00   15092  18809.5860
14   2018-09-22 05:00:00   15406  24855.3610
15   2018-09-22 06:00:00   25802  23912.0490
16   2018-09-22 07:00:00   34789  24336.2640
17   2018-09-22 08:00:00   50842  24234.6450
18   2018-09-22 09:00:00   51373  22832.2900
19   2018-09-22 10:00:00   56137  22720.7680
20   2018-09-22 11:00:00   75490  24038.4590
21   2018-09-22 12:00:00   83948  33635.3100
22   2018-09-22 13:00:00   78622  29372.7190
23   2018-09-22 14:00:00   80108  29867.2850
24   2018-09-22 15:00:00   63420  29353.6520
25   2018-09-22 16:00:00   48401  22740.8050
26   2018-09-22 17:00:00   51605  13873.4260
27   2018-09-22 18:00:00   52987   5089.1670
28   2018-09-22 19:00:00   73859   3071.6636
29   2018-09-22 20:00:00   71761   4365.4150
..                   ...     ...         ...
452  2018-10-10 13:00:00       0   5308.0390
453  2018-10-10 14:00:00       0   5618.1606
454  2018-10-10 15:00:00       0   5329.0806
455  2018-10-10 16:00:00       0   5639.2020
456  2018-10-10 17:00:00       0   5639.2020
457  2018-10-10 18:00:00       0   5639.2020
458  2018-10-10 19:00:00       0   5329.0806
459  2018-10-10 20:00:00       0   5629.2754
460  2018-10-10 21:00:00       0   5629.2754
461  2018-10-10 22:00:00       0   5629.2754
462  2018-10-10 23:00:00       0 -19346.3980
463  2018-10-11 00:00:00       0   5698.4500
464  2018-10-11 01:00:00       0   5679.8330
465  2018-10-11 02:00:00       0   5379.6380
466  2018-10-11 03:00:00       0   5679.5693
467  2018-10-11 04:00:00       0   5689.4960
468  2018-10-11 05:00:00       0   5689.4960
469  2018-10-11 06:00:00       0   5689.4960
470  2018-10-11 07:00:00       0   5689.4960
471  2018-10-11 08:00:00       0   5379.3745
472  2018-10-11 09:00:00       0   5689.4960
473  2018-10-11 10:00:00       0 -18926.9770
474  2018-10-11 11:00:00       0   5689.4960
475  2018-10-11 12:00:00       0   5689.4960
476  2018-10-11 13:00:00       0   5689.4960
477  2018-10-11 14:00:00       0   5689.4960
478  2018-10-11 15:00:00       0   5379.3745
479  2018-10-11 16:00:00       0   5689.4960
480  2018-10-11 17:00:00       0   5379.3745
481  2018-10-11 18:00:00       0   5689.4960

[482 rows x 3 columns]

In [48]:
def get_date(x):
    return x.split()[0]

In [49]:
data["date"] = data["t"].apply(get_date)

In [51]:
# data.groupby(df['data1'].groupby(df['key1']))
data.groupby(data['date']).sum()['y2'].values.tolist()

[166257.94799999997,
 463280.2279999999,
 294725.7707,
 246125.2498,
 -105482.86973,
 -66781.08343,
 -286164.5158,
 -144204.18012999996,
 78489.01159999998,
 47804.93940000002,
 164781.16330000001,
 162157.02659999998,
 161550.5318,
 174523.16430000003,
 191339.62900000002,
 208134.615,
 77334.64230000002,
 72732.3779,
 100648.79459999998,
 82130.73300000002,
 82233.0928]

In [11]:
# data["y1"]